* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cnt_server {
  width: 100%;
  background-color: #343A40;
  display: flex;
  justify-content: center;
  position: relative;
}

.server {
  width: 80%;
  background-color: #343A40;
}
.server .nava {
  color: red;
}

#dropdown {
  display: none;
}

.hostings {
  opacity: 0;
  background-color: white;
  padding: 14px;
  padding-right: 40px;
  padding-left: 21px;
  position: absolute;
}

.hostings:hover {
  cursor: pointer;
  opacity: 1;
  color: gray;
  transform: translateY(10%);
}

.hostings p:hover {
  color: rgb(0, 216, 0);
}

.register {
  width: 112px;
  height: 42px;
  background-color: #343A40;
  border: 1px solid rgb(124, 189, 30);
  color: white;
}

.login {
  width: 88px;
  height: 40px;
  border: none;
  background-color: rgb(122, 187, 30);
  color: white;
}

#customer {
  width: 100%;
  height: auto;
  min-height: 600px;
  background-image: url("/assets/img/hero_bg_2.jpg");
  background-size: cover;
}
#customer .customers {
  width: 100%;
  height: auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#customer .customers .text_cst {
  width: 82%;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#customer .customers .text_cst h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  #customer .customers .text_cst h1 {
    font-size: 3.5rem;
  }
}
#customer .customers .text_cst .btnx {
  color: white;
  background-color: #7cbd1e;
  border-color: #7cbd1e;
  border: 1px solid #7cbd1e;
  padding: 13px;
}
#customer .customers .text_cst .btnx:hover {
  text-decoration: none;
  background-color: #73ad21;
}
#customer .customers .text_cst .btny {
  color: white;
  padding: 13px;
  border: 1px solid white;
}
#customer .customers .text_cst .btny:hover {
  color: black;
  text-decoration: none;
  background-color: white;
}

.iconx {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  height: auto;
  min-height: 320px;
  border: 1px solid black;
}
.iconx .textxyz {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.iconx a {
  width: 150px;
  margin: auto;
  background-color: #7CBD1E;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#different {
  width: 100%;
  height: auto;
  min-height: 400px;
}
#different .containerx {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.headertextx {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.headertextx h1 {
  width: 450px;
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto Mono";
}

#satisfiedClients {
  width: 100%;
  min-height: 600px;
  background-image: url(/assets/img/hero_bg_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#satisfiedClients .satisfiedClientstext {
  width: 100%;
  padding: 20px;
}
#satisfiedClients .satisfiedClientstext h1 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  font-family: inherit;
}
@media (max-width: 768px) {
  #satisfiedClients .satisfiedClientstext h1 {
    font-size: 3.5rem;
  }
}
#satisfiedClients .satisfiedClientstext p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  height: auto;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}
@media (max-width: 768px) {
  #satisfiedClients .satisfiedClientstext p {
    font-size: 1.2rem;
  }
}
#satisfiedClients .satisfiedClientstext button {
  padding: 15px;
  font-size: 14px;
  background-color: #7CBD1E;
  color: white;
  border: none;
}
@media (max-width: 768px) {
  #satisfiedClients .satisfiedClientstext button {
    font-size: 12px;
  }
}

#why-choose-us {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#why-choose-us .why-choose-us-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  height: auto;
  width: 100%;
}
#why-choose-us .why-choose-us-text h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #4d4d4d;
}
#why-choose-us .qualityHardware {
  border: 2px solid #E6E6E6;
  gap: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#why-choose-us .qualityHardware:hover {
  background-color: #7CBD1E;
  border: none;
  color: white;
}
#why-choose-us .qualityHardware:hover i {
  color: white;
}
#why-choose-us .qualityHardware:hover .qualityHardwareTxt h2 {
  color: white;
}
#why-choose-us .qualityHardware:hover p {
  color: white;
}
#why-choose-us .qualityHardware .qualityHardwareTxt {
  display: flex;
  align-items: center;
  gap: 15px;
}
#why-choose-us .qualityHardware .qualityHardwareTxt h2 {
  width: 50%;
  font-size: 20px;
  line-height: 24px;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #4d4d4d;
}
#why-choose-us .qualityHardware .qualityHardwareTxt i {
  font-size: 35px;
}
#why-choose-us .qualityHardware p {
  color: #b3b3b3;
  width: 98%;
  font-size: 16px;
  line-height: 24px;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#testimonials {
  width: 100%;
  background-color: #F8F9FA;
  min-height: 634px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonials .testimonials-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
#testimonials .testimonials-text img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
#testimonials .testimonials-text h2 {
  height: 90px;
  color: #4d4d4d;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}
#testimonials .testimonials-text h3 {
  font-size: 18px;
  line-height: 22px;
  height: 45px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: 200;
}
#testimonials .testimonials-text p {
  font-size: 18px;
  color: #b3b3b3;
  line-height: 22px;
  font-weight: 400;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#testimonials .testimonials-text .lorem {
  text-align: center;
  width: 47%;
  font-size: 18px;
  line-height: 30px;
  color: #4d4d4d;
}

footer {
  background-color: #393E46;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cl3 {
  width: 100%;
}

.end, .endx {
  text-align: left;
}

h1 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .cl3 {
    margin-bottom: 20px;
  }
}
.registerLogin {
  flex-wrap: wrap;
}